/*
Styling related to the cart
*/

#cart_container{
	width:0;
	height:0;
	position:fixed;
	bottom:100px;
	right:100px;
	  /*
	  Animation style used in the given example
	  */	
	transition: height .4s .1s, width  .4s .1s, box-shadow .3s;
	transition-timing-function: cubic-bezier(0.67, 0.17, 0.32, 0.95);
}

#cart_container.triggered{
	width:250px;
	height:400px;
}

/*
Styling for the cart size indicator
*/
#cart_mini{
	position:absolute;
	right:-72px;
	bottom:0;
	/*Aligns in the bottom right*/
	visibility:hidden;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.17);
	width:72px;
	height:72px;
	border-radius:6px;
	transition: height .4s .1s, width  .4s .1s, box-shadow .3s;
	/*
	Animation style used in the given example
	*/
	transition-timing-function: cubic-bezier(0.67, 0.17, 0.32, 0.95);
	background: #ffffff;
	cursor:pointer;
	opacity:0;
}

/*
Styling for the red box that holds the number of items in the cart
*/
#cart_mini_number_container{
	opacity:0;
	position:absolute;
	bottom:60px;
	left:60px;
	width:3rem;
	height:3rem;
	border-radius:1.5rem;
	background-color:red;
	color:white;
	text-align:center;
	font-family:arial;
	visibility:hidden;
	overflow:hidden;
}

/*
Styling for the number of items in the cart.
Separate element from #cart_mini_number_container to allow for animation
*/
#cart_mini_number{
	position:relative;
	bottom:-0.5rem;
	width:100%;
	text-align:center;
}

/*
Cart image
*/
#cart_mini img{
	position:absolute;
	top:20px;
	left:20px;
}

/*
Adds box shadow when hovering over cart image
*/
#cart_mini:hover{
	box-shadow: 0 6px 40px rgba(0, 0, 0, 0.3);
}

/*
Styling for list of items in cart
*/
#cart_full{
	position:absolute;
	height:0;
	width:0;
	border-radius:10px;
	background:#33414A;
	width:100%;
	/*Ensure that the cart remains behind the open/close button*/
	z-index:-1;
	height:100%;
	right:-72px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);	
	padding:1.5rem;
	/*Prevents ugly edge-leaking during animation*/
	overflow:hidden;
}

.gone #cart_full{
	visibility:hidden;
}

#cart_container.triggered #cart_full{
	visibility:visible;
}

#cart_full h3{
	width:100%;
	color: white;
	font-size:2rem;
}

#cart_full ul{
	height:100%;
	/*Allows user to scroll through cart*/
	overflow-y:scroll;
	padding-bottom:123px;
}

#cart_full ul li{
	box-shadow:0 0 5px 0 rgba(200,200,200,0.5);
}

#cart_full ul li *{
	display:inline;
}

/*Item name*/
#cart_full ul li h4{
	color:#3a5160;
}
/*Item price*/
#cart_full ul li h5{
	margin-left:50%;
	color:green;
}

