/*
Generic styling for forms
*/
input:not(*[type="submit"]){
	border: 0;
	outline: 0;
	background: transparent;
	border-bottom: 1px solid #c4c4c4;
	border-radius:0;
	text-align:center;
	color: #c0c0c0;
}

/*
Removes Bootstrap's default box-shadow styling
*/
input:not(*[type="submit"]),input:not(*[type="submit"]):hover,input:not(*[type="submit"]):active,input:not(*[type="submit"]):focus{
	box-shadow:none;
}


/*
Styling for form on front page
*/
#contact_container{
	max-width: 7in;
	min-width: 400px;
	width:70%;
	display:block;
	margin:auto;
}

/*Genering button styling*/
#contact_container button{
	display:block;
	margin:auto;
	margin-top:2%;
}

/*Styling for black button used in form*/
.btn-black{
	background: #343a40;
	border-color: #343a40;
	transition:500ms ease all;
	color:white;
	border-radius:0;
}
.btn-black:hover, .btn-black:focus { 
	background: #23272b;
	border-color:#1d2124;
	color:white;
}
.btn-black:focus, .btn-black:active{
	box-shadow: 0 0 0 0.2rem rgba(52,58,64,.5);
	background: #343a40;
	border-color:#343a40;
	outline:0;
	border:none;
}

/*Spacing within form*/
#contact_container input, #contact_container label{
	margin:0.8rem;
	font-weight:100;
	color:black;
}