/*
Top navbar styling
*/
#top_navbar{
	background-color:#33414A;
	border-radius:0;
	border-bottom-color:#9ecae3;
	border-bottom-style:solid;
	border-bottom-width:2px;
}

#top_navbar *{
	color:#e3e3e3;
}

/*
Animates the hover effect of the top navbar
*/
#top_navbar a{
	transition: 250ms ease color,border;
}

/*
Sets hover effect to only include color change
*/
#top_navbar a:hover, #top_navbar a:active, #top_navbar a:focus{
	background-color:#33414A;
	border-bottom-color:white;
	border-bottom-style:solid;
	border-bottom-width:2px;
	/*adds room for the bottom border*/
	margin-bottom:-2px;
}

#top_navbar li{
	margin-left: 1em;
}

#top_navbar a:hover{
	color:#a3b3bc;
}

/*
Dropdown styling
*/
#top_navbar .dropdown button:active{
	outline:none;
	border-color:#acacac;	
}

#top_navbar .dropdown button{
	margin-right: 4rem;	
	border-color:#acacac;
	border-style:solid;
	border-width:1px;
	background:transparent;
	margin-top:7px;
	border-radius:10px;
}

#top_navbar .dropdown-menu{
	background-color:white;
	margin-top:1em;
	margin-right:1em;
	color:#888a8c;
	max-width:5em;	
}

#top_navbar .dropdown-menu li{
	margin:auto;
}

#top_navbar .dropdown-menu a{
	color:#888a8c;	
	text-align:center;
	margin:auto;
	transition:250ms ease background;
}

#top_navbar .dropdown-menu a:hover{
	background-color:#dadada;
}

/*
Header image styling
*/

#header_graphic{
	margin-top:15%;
	/*
	centers the header graphic vertically
	*/
}

/*
Adjusting style for top nav bar on small screens
This reflects Bootstrap's built-in cutoff
*/
@media (max-width: 769px) {
	/*ensure that text is aligned in the center*/
	#top_navbar li{
		display:block;
		margin:auto;
		text-align:center;
		max-width:200px;
		min-width:20%;
	}
	/*ensure that the button is aligned in the center*/
	#top_navbar button{
		margin-right:auto!important;
		margin-left:auto!important;
	}
	/*ensure that the image is aligned in the center*/
	#top_navbar img{
		margin-right:auto!important;
		margin-left:auto!important;
		margin-top:2rem;
		margin-bottom:2rem;
		display:block;
	}
	/*ensure that the dropdown is aligned in the center*/	
	#top_navbar .dropdown-menu{
		margin:auto;
		margin-top:1em;	
		background:transparent;
	}	
	/*gets rid of border animation
	also readjusts hover color
	*/		
	#top_navbar a:hover, #top_navbar a:active, #top_navbar a:focus{
		border:0;
		background-color:#3a5160;
	}	
	#top_navbar .dropdown-menu a:hover{
		background-color:#3a5160;
	}
}

